<div class="about-us-container">
  <h1>About Gold Price Kerala</h1>
  <p>Gold Price Kerala is your trusted source for daily gold rates in Kerala. We provide real-time updates on 22K gold prices per gram and per pavan, along with historical data and insightful articles to help you make informed decisions about gold investments and purchases.</p>

  <h2>Contact Us</h2>
  <address>
    <strong>Gold Price Kerala</strong><br>
    MK Road, Kochi, 682305<br>
    Email: <a href="mailto:info@greymarketwiki.com">info&#64;greymarketwiki.com</a>
  </address>

</div>
